@media only screen and (max-width: 600px) {
	.vidHeader{
		height: 50px;
	}
	
	.imgHeader{
		width: 20px;
		height: 50px;
	}
}

@media only screen and (min-width: 992px) {
  	.imgHeader{
		width: 20px;
		height: 20px;
	}
} 

body{
	font-family: "Times New Roman", Times, serif;
}

* {
  box-sizing: border-box;
}

/*First Page*/

.vidHeader{
	position: fixed;
	width: 100%;
	height: 600px;
	object-fit: cover;
	z-index: -1;
	margin: -20px -8px;
}

.textheader{}
